{% extends 'base.html' %}

{% load static %}

{% block title %} Set Password {% endblock %}

{% block content %}
    <div class="row g-0">
        <div class="col-md-6 col-lg-5 d-none d-md-block">
            <img src="{% static 'images/login.jpg' %}" alt="login form" class="img-fluid"/>
        </div>
        <div class="col-md-6 col-lg-7 d-flex align-items-center">
            <div class="card-body p-4 p-lg-5 text-black">
                <form method="post">
                    <div class="row d-flex align-items-center mb-1 pb-1">
                        <h5 class="fw-normal pb-3">Reset your password</h5>
                        <p class="text-muted-reset mb-3">Enter your work email, so we can send you the intructions on
                            how to recover your password</p>
                        {% csrf_token %}
                        {{ form.as_p }}
                    </div>
                    <div class="button-container text-center mb-5">
                        <button type="submit" class="login_btn btn btn-primary">Send</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}


