{% extends 'base_with_navbar.html' %}

{% load static %}

{% block title %} Change Password {% endblock %}

{% include 'navbar.html' %}

{% block content %}
    <div class="card shadow">
        <div class="card-body">
            <h4 class="text-center mb-5">Great!</h4>
            <p class="text-center"> Your password was changed successfully!</p>
                <div class="button-container text-center mt-5">
                    <a href="{% url 'user-profile' user.id %}" class="btn btn-primary m-2">Ok
                    </a>
                </div>
        </div>
    </div>
{% endblock %}

